<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmfis.cinemaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".workeractivities.WorkerPanel"
            android:label="Worker panel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".authentication.LoginForm" />
        </activity>
        <activity
            android:name=".workeractivities.AddMovie"
            android:label="Add movie">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workeractivities.WorkerPanel" />
        </activity>
        <activity
            android:name=".authentication.LoginForm"
            android:label="Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".authentication.RegisterForm"
            android:label="Register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".clientactivities.Movies"
            android:label="Movies">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".authentication.LoginForm" />
        </activity>
        <activity
            android:name=".clientactivities.Reservation"
            android:label="Movie">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clientactivities.Movies" />
        </activity>
        <activity
            android:name=".clientactivities.ClientAccount"
            android:label="User">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clientactivities.Movies" />
        </activity>
        <activity android:name=".workeractivities.MovieReservations"
            android:label="Movie reservations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workeractivities.WorkerPanel" />
        </activity>
    </application>

</manifest>